<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :breadcrumbs do %>
  <span><%= t('admin.course_tags.nav_item.text') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_path) %></li>
    <% if current_user_has_privilege?(:chief_course_manager) %>
      <li><%= create_icon(new_course_tag_path) %></li>
    <% end %>
  </ul>

  <%= paginate @collection %>
  <%= render partial: 'shared/admin/list', locals: { collection: @collection } %>
  <%= paginate @collection %>
</article>
