<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.course_tags.nav_item.text'), admin_course_tags_path) %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_course_tags_path) %></li>
    <% if current_user_has_privilege?(:chief_course_manager) %>
      <li><%= create_icon(new_course_tag_path(id: @entity.id)) %></li>
      <li><%= edit_icon(edit_course_tag_path(id: @entity.id)) %></li>
    <% end %>
  </ul>

  <dl>
    <% unless @entity.image.blank? %>
      <dt><%= t('activerecord.attributes.course_tag.image') %></dt>
      <dd>
        <figure>
          <%= link_to(course_image_medium(@entity), @entity.image.url) %>
        </figure>
      </dd>
    <% end %>

    <dt><%= t('activerecord.attributes.course_tag.slug') %></dt>
    <dd><%= @entity.slug %></dd>
  </dl>

  <section>
    <h2><%= t(:course_count, count: @entity.courses_count) %></h2>

    <%= paginate @collection %>
    <%= render partial: 'shared/admin/list', locals: { collection: @collection } %>
    <%= paginate @collection %>
  </section>
</article>
