<div class="image">
  <%= course_image_preview(entity) %>
</div>
<div class="data">
  <div><%= admin_course_link(entity) %></div>
  <div class="info">
    <%= entity.slug %><br/>
    <%= admin_course_category_link(entity.course_category, entity.course_category.full_title) %>
  </div>
  <% if entity.tags_cache.any? %>
    <div class="secondary info">
      <%= entity.tags_cache.join(', ') %>
    </div>
  <% end %>

  <%=
    render(
        partial: 'shared/admin/toggleable',
        locals:  { entity: entity, url: toggle_admin_course_path(entity.id) }
    )
  %>

  <ul class="actions">
    <% if entity.editable_by?(current_user) %>
      <% if entity.lockable_by?(current_user) %>
        <%=
          render(
              partial: 'shared/actions/locks',
              locals:  {
                  entity: entity,
                  path:   lock_admin_course_path(entity.id)
              }
          )
        %>
      <% end %>
      <li class="lockable <%= entity.locked? ? 'hidden' : '' %>"><%= edit_icon(edit_course_path(entity.id)) %></li>
      <%=
        render(
            partial: 'shared/actions/priority_changer',
            locals:  { path: priority_admin_course_path(entity.id) }
        )
      %>
    <% end %>
  </ul>
</div>
